@import "tailwindcss";

:root {
  --background-rgb: 30, 58, 138; /* #1e3a8a */
  --foreground-rgb: 255, 255, 255; /* #fff */
  --primary: #1d4ed8;
  --accent: #0ea5e9;
  --highlight: #facc15;
  --muted: #94a3b8; /* Tailwind slate-400 */
  --error: #dc2626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 15, 23, 42; /* #0f172a (Tailwind slate-900) */
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: 'Inter', sans-serif;
}


.loader {
  width: 120px;
  height: 60px;
  border-radius: 200px 200px 0 0;
  -webkit-mask: repeating-radial-gradient(farthest-side at bottom ,#0000 0,#000 1px 12%,#0000 calc(12% + 1px) 20%);
  mask: repeating-radial-gradient(farthest-side at bottom ,#0000 0,#000 1px 12%,#0000 calc(12% + 1px) 20%);
  background:
   radial-gradient(farthest-side at bottom,#514b82 0 95%,#0000 0) bottom/0% 0% no-repeat
   #ddd;
  animation: l10 2s infinite steps(6);
}

@keyframes l10 {
  100% {
    background-size: 120% 120%;
  }
}